/* Text */
h1, h2, h3 , h4, h6 {
  font-family: 'cooper black', sans-serif;
}

p, h5 {
  font-family: 'Poppins', sans-serif;
}

/* Navigation bar */
.navbar .nav-item:not(:last-child) {
    margin-right: 35px;
  }
  .dropdown-toggle::after {
     transition: transform 0.15s linear; 
  }
  .show.dropdown .dropdown-toggle::after {
    transform: translateY(3px);
  }
.dropdown{
  margin-top: 15px;
}
 .btn-secondary  {
    background-color: transparent !important;
    border: none !important;
}

.languageicon{
    max-width: 40%;
}

/* Navigation links */
 a {
  color: black !important;
  font-family: 'cooper black' !important;
}
.navCTA {
  font-size: 15px;
}

.navlogo{
    max-width: 20%;
}

.customdrop {
  color: black !important;
  font-family: 'poppins' !important;
}

.button-donate{
    background-color:transparent;
    color: transparent;
    border: none;
    cursor: pointer;
    margin-top: -6px;
  }

.donatebuttonicon{
  max-width: 100px;
  max-height: 55px;
}

.checkbuttonicon{
  max-width: 150px;
  max-height: 55px;
}


/* Carousel */

.carousel2{
  display: none;
}

.custom-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(#F4D9AC, white);

}

.carousel-copy{
  width: 70%;
  min-width: 500px;
  max-width: 1500px;
}


/*, .carousel-indicators */
.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

/* Events Header */
.events-banner{
  border-color: #994226 !important;
  border-width: 13px;
  max-width: 100 px;
}

.events-title{
color: white;
background-color: #C75219;
font-size: 5vmin;
text-align: center;
}

/* Events body */

.events-body{
  text-align: center;
  font-size: 2vmin;
}



/* Jumbotron Events */
.eventsjumbo {
  background-image: url(...images/eventsbackground.png);
  background-size: contain;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.customcard{
  background-color:#9DA471;
  padding: 1.5vh;
  border-radius: 30px;
}

.customlist{
  background-color:#747A4E;
  padding: 12px;
  color:white;
  font-family: poppins;
  font-size: 2vmin;
  border-radius: 40px;
  margin-top: .5em;
}

.list-group-item {
  padding: 10px;
}

/* Jumbotron  */
.jumbotron {
  background-image: url(../images/eventsbackground.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(50vh - 25px);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Jumbotron copy */
.jumboCopy {
  width: 70%;
  min-width: 500px;
  max-width: 700px;
  color: white;
  text-align: center;
}

/* Jumbotron Registered to Vote */

.registerjumbo {
  background-image: url(../images/votepattern.png)!important;
  max-height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.textvote{
  text-align: center;
}

.display-4{
  font-size: 5vmin;
}

.lead{
  font-size: 2vmin;
}

.display-4 {
  font-weight: bold}

/* Events Header */
.partnerships-banner{
  border-color: #E49C2E !important;
  border-width: 13px;
  max-width: 100 px;
}

.partnerships-title{
color: black;
background-color: #FFC52E;
font-size: 5vmin;
text-align: center;
}


.content{
  background-color: #F4D9AC !important;
  margin:-10px;
}

.card{
  border: none;
}

.card-img-top{
  width: 70%;
  max-width: 200px;
}

.top{
  align-items: center;
  background-color: #F4D9AC !important;
}

.cardContainer {
  margin-top: 20px;
}

/* Footer */
.footerbreak{
  border-color: white !important;
  border-width: 6px;
  margin:0px;
}

.footersocials{
  max-width: 45 px;
  max-height: 35px;
  padding-bottom: 10px;
}

.footers{
  background-color: #747A4E !important;
}
.footers a {color:white;
  font-family: 'Poppins', sans-serif;}

.footerbody{color:white !important;
  font-family: 'Poppins', sans-serif !important;}

.footers h1 {color:white;}

.footers h5 {color:white;
font-weight: bold}

.footers p {color:white;}

.footers ul {
  line-height:30px;
  color: white;
}
#social-fb:hover {
     color: #3B5998;
     transition:all .001s;
 }
 #social-tw:hover {
     color: #4099FF;
     transition:all .001s;
 }
 #social-gp:hover {
     color: #d34836;
     transition:all .001s;
 }
 #social-em:hover {
     color: #f39c12;
     transition:all .001s;
 }

.border{
  background-color: #747A4E !important;
}

.text-muted{
  color: white !important;
  font-family: 'poppins', sans-serif;
  font-weight: bold;
}


/* Footer form */
form {
  width: 500px;
  margin: 35px auto;
  padding: 45px;
  border: 1px solid #F2F2F2;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.1);
  background-color: white;
}

/* STYLES FOR TEMPLATE PLEASE DO NOT TOUCH*/
.dropdown-menu {
  left: -97px;
}
footer {
  position: absolute;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
  margin-top: 50px;
}
.cardContainer {
  margin-top: 20px;
}
.card {
  margin: 0 auto;
}


/* Footer */
.footerbreak{
  border-color: white !important;
  border-width: 6px;
}

.footers{
  background-color: #747A4E !important;
}
.footers a {color:white;
  font-family: 'Poppins', sans-serif;}

.footerbody{color:white !important;
  font-family: 'Poppins', sans-serif !important;}

.footers h1 {color:white;}

.footers h5 {color:white;
font-weight: bold}

.footers p {color:white;}

.footers ul {
  line-height:30px;
  color: white;
}
#social-fb:hover {
     color: #3B5998;
     transition:all .001s;
 }
 #social-tw:hover {
     color: #4099FF;
     transition:all .001s;
 }
 #social-gp:hover {
     color: #d34836;
     transition:all .001s;
 }
 #social-em:hover {
     color: #f39c12;
     transition:all .001s;
 }

.copyright border{
  background-color: #747A4E !important;
}

/* Modal */

.modal-header{
  align-items: center;
  justify-content: center;
  text-align: center;
}

.modal-body{
align-content: center;
text-align: center;
}

.modal-footer{
  align-items: center;
  justify-content: center;
}


@media (max-width: 992px) {

  .svreplogo {
    margin-top: -50px;
    padding-top: 18px !important;
  }
    
  .navbar-collapse.collapsing .navbar-nav {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 10;
    transition: all 0.2s ease;
}

.navbar-collapse.show .navbar-nav {
  position: fixed;
  z-index: 500;
  background-color: white;
  top: 0px;
  bottom: 0;
  left:0;
  right: 10;
  flex-direction: column;
  height: auto;
  width: 25%;
  transition: left 0.35s ease;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.pt-5{
  align-content: center;
  text-align: center;
}
.events-body{
  display:none;
}

.carousel1{
  display: none;
}

.carousel2{
  display: block;
  align-content: center;
}

.carousel-item img{
max-height: 50vh;
object-fit: contain;
}


.eventsjumbo{
  background-image: none;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 25vh;
}

.eventsjumbo img{
  max-height: 30vh;
  background-size: contain;
}

.modal-body{
  font-size: 16px;
}

.lead{
  font-size: 16px;
}

.checkbuttonicon{
  max-width: 130px;
  max-height: 85px;
}

.customlist{
  font-size: 16px;
}

.footersocials{
  max-width: 45 px;
  max-height: 65px;
  padding-bottom: 20px;
}

h2 events-title{
  font-size: 20px;
}
}
